---
import "@/styles/globals.css";

import TableDroplets from "@/components/TableDroplets.astro";
import TableDBs from "@/components/TableDBs.astro";

import Button from "@/components/Button.astro";
import { isJSDocReadonlyTag } from "typescript";

let dropletData;
try {
  const response = await fetch(
    "https://api.digitalocean.com/v2/sizes?per_page=200",
    {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
        Authorization: `Bearer ${import.meta.env.DO_TOKEN}`,
      },
    },
  );
  dropletData = await response.json();

  dropletData.sizes.forEach((size: any) => {
    let monthly_price_per_core = size.price_monthly / size.vcpus;
    size.monthly_price_per_core = parseFloat(monthly_price_per_core.toFixed(2));

    let monthly_price_per_tb = size.price_monthly / size.transfer;
    size.monthly_price_per_tb = parseFloat(monthly_price_per_tb.toFixed(2));
  });

  // // Sort the array in ascending order (cheapest first)
  dropletData.sizes =  dropletData.sizes.sort((a: any, b: any) => a.monthly_price_per_core - b.monthly_price_per_core);

} catch (error) {
  console.error("Error:", error);
}


let dbData;
try {
  const response = await fetch(
    "https://api.digitalocean.com/v2/databases/options?per_page=200",
    {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
        Authorization: `Bearer ${import.meta.env.DO_TOKEN}`,
      },
    },
  );
  dbData = await response.json();

} catch (error) {
  console.error("Error:", error);
}


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>DO Worthiness</title>
	</head>

	<body>


		<!-- <TableDroplets data={dropletData} /> -->
    <pre>{JSON.stringify(dbData, undefined, 2)}</pre>
    <!-- <TableDBs data={dbData.options.kafka} .></TableDBs> -->
	</body>
</html>
