---
let data;
try {
 const response = await fetch("https://api.digitalocean.com/v2/sizes?per_page=200", {
    method: "GET",
    headers: {
      "Content-Type": "application/json",
      Authorization: `Bearer ${import.meta.env.DO_TOKEN}`,
    },
 });
 data = await response.json();
} catch (error) {
 console.error('Error:', error);
}
---

<table>
 <thead>
    <tr>
      <th>Slug</th>
      <th>Memory</th>
      <th>VCPUs</th>
      <th>Disk</th>
      <th>Transfer</th>
      <th>Price Monthly</th>
      <th>Price Hourly</th>
      <th>Regions</th>
      <th>Available</th>
      <th>Description</th>
      <th>Networking Throughput</th>
    </tr>
 </thead>
 <tbody>
    {data.sizes.map((size: any) => (
      <tr>
        <td>{size.slug}</td>
        <td>{size.memory}</td>
        <td>{size.vcpus}</td>
        <td>{size.disk}</td>
        <td>{size.transfer}</td>
        <td>{size.price_monthly}</td>
        <td>{size.price_hourly}</td>
        <td>{size.regions.join(', ')}</td>
        <td>{size.available ? 'Yes' : 'No'}</td>
        <td>{size.description}</td>
        <td>{size.networking_throughput}</td>
      </tr>
    ))}
 </tbody>
</table>