---
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";

const { data = "Default"} = Astro.props;

---
<Table>

  <TableHeader>
    <TableRow>
      <TableHead>Description</TableHead>
      <TableHead>Slug</TableHead>
      <TableHead>Memory</TableHead>
      <TableHead>VCPUs</TableHead>
      <TableHead>Disk</TableHead>
      <TableHead>Transfer</TableHead>
      <TableHead>Price Monthly</TableHead>
      <TableHead>Price Hourly</TableHead>
      <TableHead>Price per TiB</TableHead>
      <TableHead>Price Per Core</TableHead>
    </TableRow>
  </TableHeader>

  <TableBody>
    {
      data.sizes.map((vm: any) => (
        <TableRow className={vm.available ? "" : "text-red-800"}>
          <TableCell>{vm.description}</TableCell>
          <TableCell className="font-mono" >{vm.slug}</TableCell>
          <TableCell>{vm.memory / 1024} GiB</TableCell>
          <TableCell>{vm.vcpus}</TableCell>
          <TableCell>{vm.disk} GiB</TableCell>
          <TableCell>{vm.transfer} TiB</TableCell>
          <TableCell>{vm.price_monthly}</TableCell>
          <TableCell>{vm.price_hourly}</TableCell>
          <TableCell>{vm.monthly_price_per_tb}</TableCell>
          <TableCell>{vm.monthly_price_per_core}</TableCell>
        </TableRow>
      ))
    }
  </TableBody>
</Table>
